@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading {
  font-family: "PT Sans";
  font-weight: 700;
}

.page-header {
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  color:  rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-width: 1060px;
  height: 64px;
  margin: 0 70px;
}

.navigation-logo {
  display: grid;
  width: 140px;
  height: 70px;
  margin-right: 30px;
  object-fit: contain;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 339px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style-type: none;
}

 .navigation-list .navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: rgba(117,98,87,1);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 268px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.user-link {
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-color: inherit;
}

.fav-item {
  position: relative;
}

.favourites-cart-number {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 11px;
  left: 20px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  vertical-align: baseline;
  z-index: 1;
  border-radius: 50%;
  padding: 5px;
  color: rgba(255,255,255,1);
  background-color: rgba(125,181,79,1);
}

.nav-item-search-item,
.nav-item-fav-item {
  fill: rgba(0, 0, 0, 1);
}

.nav-item-search-item:hover,
.nav-item-fav-item:hover {
  fill: rgba(51, 51, 51, 1);
}

.nav-item-search-item:focus,
.nav-item-fav-item:focus {
  fill: rgba(63, 94, 114, 1);
}

.nav-item-search-item:active,
.nav-item-fav-item:active {
  fill: rgba(51, 51, 51, 1);
}

.button-item {
  list-style-type: none;
  margin-left: 20px;
  justify-self: center;
  align-self: center;
}

.navigation-button {
  width: 160px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
  background-color: rgba(117,97,87,1);
}

.brown-button:default {
  background-color: rgba(117, 97, 87, 1);
}

.brown-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.brown-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.brown-button:active {
  background-color: rgba(117, 97, 87, 1);
}

.brown-button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo-welcome {
  display: block;
  padding: 51px 371px 25px 371px;
}

.welcome {
  min-width: 1200px;
  min-height: 485px;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(130,179,211,1);
  object-fit: cover
}

.mainpage-divider {
  position: absolute;
}

.adv-intro-container {
  background-image: url(../images/background-main.png);
  background-size: 1200px 282px;
  background-color: rgba(255,255,255,1);
}

.advantages-1 {
  width: 1200px;
}

.welcome-section-header {
  padding: 69px 290px 25px 290px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0,0,0,1);
}

.welcome-section-description {
  padding: 0 274.5px 69px 274.5px;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  position: relative;
  padding: 0 27.5px 30px 27.5px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::after {
  position: absolute;
  content: "";
  right: 85px;
  left: 85px;
  bottom: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  padding-top: 30px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 21px;
  margin-bottom: 0;
  padding: 0;
  width: 1200px;
  list-style-type: none;
}

.advantages-item-blue-bkg-pic {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  height: 385px;
  margin: 0;
  object-fit: cover;
}

.adv-container-blue-bkg {
  width: 400px;
  padding: 102px 85px;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.adv-without-pics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  margin: 0;
  list-style-type: none;
  color: rgba(0,0,0,1);
}

.adv-container {
  width: 230px;
  height: 160px;
  padding: 112.5px 85px;
  text-align: center;
}

.advantages-title-no-pics {
  position: relative;
  padding: 0 27.5px 30px 27.5px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-no-pics::after {
  position: absolute;
  content: "";
  right: 85px;
  left: 85px;
  bottom: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description-no-pics {
  width: 230px;
  height: 42px;
  margin: 0;
  padding-top: 30px;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  color: #333333;
}

.advantages-item-lightblue-bkg {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-grey-bkg {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-2 {
  width: 1200px;
}

.adv-section-header {
  padding: 64px 347.5px 20px 347.5px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0,0,0,1);
}

.adv-section-description {
  padding: 0 355px 64px 355px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list-addition {
  display: flex;
  width: 1200px;
  height: 385px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.adv-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 223px;
  min-width: 230px;
  padding: 80px 85px;
}

.adv-item-icon {
  width: 75px;
  height: 72px;
  margin: 0 77.5px;
}

.add-advantages-title {
  width: 230px;
  margin: 30px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0,0,0,1);
}

.add-advantages-description {
  width: 230px;
  margin: 0 auto;
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(51,51,51,1);
}

.advantages-item.house {
  display: flex;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.presents {
  display: flex;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.food {
  background-color: none;
}

.hotels-booking {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.booking-section-header {
  margin: 96px 451.5px 20px 451.5px;
  font-size: 30px;
  line-height: 36px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0,0,0,1);
}

.booking-section-description {
  margin: 0 304px 54px 304px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.searching-button {
  width: 376px;
  height: 52px;
  margin: 0 412px 96px 412px;
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  border: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
  background-color: rgba(117,97,87,1);
}

.news-subscription {
  width: 1200px;
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255,255,255,1);
  object-fit: cover;
}

.news-subscription.catalog-page {
  background-image: none;
}

.subscription-section {
  width: 684px;
  padding: 96px 258px 104px 258px;
}

.news-section-header {
  margin: 0 140px 20px 140px;
  font-size: 30px;
  line-height: 36px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0,0,0,1);
}

.news-section-description {
  margin: 0 104.5px 54px 104.5px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.news-section-header.main-page {
  color: rgba(255,255,255,1);
}

.news-section-description.main-page {
  color: rgba(255,255,255,1);
}

.news-subscription-form {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 684px;
  height: 52px;
  border-radius: 4px;
  background-color: rgba(242,242,242,1);
}

.subscribe-input {
  max-width: 452px;
  padding: 12px 240px 12px 20px;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: rgba(242, 242, 242, 1);
}

.subscription-button {
  width: 232px;
  height: 52px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.blue-button:default {
  background-color: rgba(130, 179, 211, 1);
}

.blue-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.blue-button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.blue-button:active {
  background-color: rgba(130, 179, 211, 1);
}

.blue-button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.page-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  text-transform: none;
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 1060px;
  height: 50px;
  margin: 40px 70px 30px 70px;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 142px;
  height: 40px;
  padding: 5px 0;
  margin: 0;
  list-style-type: none;
}

.footer-social-list a:default {
  color: rgba(131, 179, 211, 1);
}

.footer-social-list a:hover {
  color: rgba(104, 162, 202, 1);
}

.footer-social-list a:focus {
  color: rgba(104, 162, 202, 1);
}

.footer-social-list a:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.vk-icon {
 padding: 13px 11.67px;
}

.telegram-icon {
  padding: 12px 14.67px 12.9px 14.67px;
}

.youtube-icon {
  padding: 11.5px 12.67px;
}

.social-icon {
  fill: rgba(131, 179, 211, 1);
}

.social-icon:hover {
  fill: rgba(104, 162, 202, 1);
}

.social-icon:focus {
  fill: rgba(104, 162, 202, 1);
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  margin: 0 41.5px;
}

.footer-contacts-address {
  width: 331px;
  height: 40px;
  padding: 5px 194px 5px 194px;
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
  color: rgba(0,0,0,1);
}

.footer-contacts-address-phone:default {
  color: rgba(0, 0, 0, 1);
}

.footer-contacts-address-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-address-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-logo {
  padding: 8.5px 0 8.5px 0;
  margin-right: 0;
  object-fit: contain;
  fill: rgba(0, 0, 0, 1);
}

.developer-logo:hover {
  fill: rgba(117, 97, 87, 1);
}

.developer-logo:focus {
  fill: rgba(117, 97, 87, 1);
}

.developer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.filter-container {
  width: 1200px;
  height: 412px;
  background-image: url(../images/catalog-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.inner-header {
  padding: 35px 70px 40px 70px;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-family: "PT Sans",sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  margin: 0;
  padding: 1px 946px 0 0;
}

.breadcrumbs-item {
  list-style-type: none;
  text-decoration: none;
  text-transform: none;
  color: rgba(255,255,255,1);
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  width: 8px;
  height: 19.94px;
  content: "";
  content: url(../images/breadcrumbs-divider.svg);
  top: 1.5px;
  margin-left: 10px;
  margin-right: 10px;
}

.item-hidden {
  margin-right: 14px;
}

.item-visible {
  margin-left: 14px;
  margin-right: 14px;
}

.item-visible:not(:last-child) {
  margin-right: 14px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: none;
  color: rgba(255,255,255,1);
}

.breadcrumbs-link:default {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  fill: rgba(255, 255, 255, 1);
}

.breadcrumbs-icon:default {
  fill: rgba(255, 255, 255, 1);
}

.breadcrumbs-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-icon:focus {
  fill: rgba(255, 255, 255, 1);
}

.breadcrumbs-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  margin: 0 70px 70px 70px;
}

.catalog-filter-form {
  display: flex;
  align-items: flex-start;
}

.catalog-filter-group {
  margin: 0;
  border: 0;
  padding: 0;
}

.catalog-filter-group:last-child {
  margin-right: 0;
}

.catalog-filter-title {
  font-weight: 700;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.infa {
  margin-top: 32px;
  margin-right: 38.43px;
}

.infa-group {
  margin-right: 70px;
}

.apartments {
  margin-top: 32px;
  margin-right: 9.43px;
}

.apartments-group {
  margin-right: 140.15px;
}

.price-group {
  margin-right: 70px;
}

.catalog-filter-item {
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  list-style-type: none;
}

.catalog-filter-item:nth-child(3n) {
  padding-bottom: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
}

.control:default .control-mark {
  background-color: rgba(255,255,255,1);
}

.control:hover .control-mark {
  background-color: rgba(255,255,255,1);
  opacity: 60%;
}

.control:focus .control-mark {
  background-color: rgba(255,255,255,1);
  outline: 3px solid rgba(131,179,211,1);
}

.control:active .control-mark {
  background-color: rgba(255,255,255,1);
  opacity: 30%;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: -3px;
  left: 4px;
  content: "";
  content: url(../images/filter-input-button.svg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  content: "";
  background-color: rgba(63,94,114,1);
}

.control-label {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255,255,255,1);
}

.control:default .control-label {
  color: rgba(255,255,255,1);
}

.control:hover .control-label {
  color: rgba(255,255,255,1);
  opacity: 60%;
}

.control:focus .control-label {
  color: rgba(255,255,255,1);
  outline: 3px solid rgba(131,179,211,1);
}

.control:active .control-label {
  color: rgba(255,255,255,0.1);
  opacity: 30%;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.range {
  margin-top: 32px;
  width: 288px;
}

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 2px;
  margin-bottom: 43px;
}

.catalog-filter-label {
  width: 143px;
  height: 48px;
  border-radius: 5px;
}

.catalog-filter-label {
  display: flex;
  position: relative;
}

.range-input {
  width: 143px;
  padding: 12px 38px 12px 20px;
  border: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  color: rgba(0,0,0,1);
}

.input-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-from {
  position: absolute;
  content: "от";
  width: 20px;
  height: 24px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  border: none;
  color: rgba(0,0,0,0.3);
}

.range-to {
  position: absolute;
  content: "до";
  width: 20px;
  height: 24px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  border: none;
  color: rgba(0,0,0,0.3);
}

.catalog-filter-label:focus {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.catalog-filter-label:active {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: rgba(255,255,255,0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle:default,
.range-toggle:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.range-toggle:active,
.range-toggle:focus {
  border: 2px solid rgba(131, 179, 211, 1);
}

.toggle-min {
  top: -10px;
  left: -0.5px;
}

.toggle-max {
  top: -10px;
  right: -10px;
}

.catalog-filter-buttons {
  margin-top: 56px;
}

.button-submit {
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.button-reset {
  width: 191px;
  height: 36px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
}

.transparent-button:default {
  color: rgba(255, 255, 255, 1);
}

.transparent-button:hover {
  color: rgba(255, 255, 255, 1);
}

.transparent-button:focus {
  border: 3px solid rgba(131, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.transparent-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.transparent-button:disabled {
  color: rgba(255, 255, 255, 1);
}

.catalog-products {
  width: 1060px;
  margin: 50px 70px 60px 70px;
  background-color: rgba(255,255,255,1);
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin-bottom: 40px;
  text-align: left;
  color: rgba(51,51,51,1);
}

.sorting-header {
  margin: 6.5px 200px 6.5px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 21px;
  padding-right: 40px;
  background-image: url(../images/selector-pointer.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  color: rgba(51,51,51,1);
}

.select-control:default {
  border-color: rgba(229, 229, 229, 1);
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:focus {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:active {
  border-color: rgba(63, 94, 114, 1);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.sorting-items-list {
  display: flex;
  width: 160px;
  padding-left: 70px;
  margin: 0;
  list-style-type: none;
}

.sorting-item {
  width: 16px;
  height: 14px;
  padding: 15px 14px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-item:nth-child(3n) {
  margin-right: 0;
}

.sorting-item:default {
  border-color: rgba(229, 229, 229, 1);
}

.sorting-item:hover {
  border-color: rgba(0, 0, 0, 1);
}

.sorting-item:focus {
  border-color: rgba(104, 162, 202, 1);
}

.sorting-item:active {
  border-color: rgba(0, 0, 0, 1);
}

.product-list {
  position: relative;
  display: grid;
  grid-template-areas:
  "r y g"
  "r2 y2 g2";
  gap: 20px;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin-top: 0;
  margin-bottom: 80px;
  padding-left: 0;
  list-style-type: none;
  background-color: rgba(255,255,255,1);
}

.product-list::after {
  position: absolute;
  top: 920px;
  content: "";
  content: url(../images/divider-catalog.svg);
}

.amara {
  grid-area: r;
}

.poco-diablo {
  grid-area: y;
}

.quail-inn {
  grid-area: g;
}

.greentree-inn {
  grid-area: r2;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 340px;
  border: 1px solid rgba(230,230,230,1);
  border-radius: 4px;
  object-fit: cover;
  background-color: rgba(255,255,255,1);
}

.product-card-link {
  height: 256px;
  width: 300px;
  margin: 20px 20px 16px 20px;
  text-decoration: none;
}

.product-card-title {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: rgba(0,0,0,1);
}

.product-card-details {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.product-card-type {
  margin: 0 20px 0 0;
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.product-card-price {
  width: 140px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-buttons {
  display: flex;
  flex-direction: row;
  margin: 16px 20px;
}

.product-card-detail-button {
  width: 140px;
  height: 36px;
  padding: 0;
  margin-right: 20px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,1);
  background-color: rgba(117,97,87,1);
}

.product-card-button-favourites-button {
  width: 140px;
  height: 36px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.product-card-button-favourites-button-disabled {
  width: 140px;
  height: 36px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
  background-color: rgba(125,181,79,1);
}

.green-button:default {
  background-color: rgba(125, 181, 79, 1);
}

.green-button:hover {
  background-color: rgba(108, 158, 66, 1);
}

.green-button:focus {
  background-color: rgba(108, 158, 66, 1);
}

.green-button:active {
  background-color: rgba(125, 181, 79, 1);
}

.green-button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.product-card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.product-rating {
 width: 140px;
 height: 37px;
 margin-right: 20px;
}

.rating {
  width: 140px;
  height: 37px;
  margin: 0;
  border-radius: 4px;
  background-color: rgba(242,242,242,1);
}

.rating-text {
  padding: 9px 22px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  padding: 0;
  margin: 0;
}

.pagination-container {
  display: flex;
  justify-content: flex-start;
  width: 1060px;
  height: 60px;
  list-style-type: none;
  background-color: inherit;
}

.pagination-divider-container {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
}

.pagination-divider-container p {
  padding: 17px 22px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 25px 13px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.double {
  padding: 12px 19px 13px 19px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: rgba(255,255,255,1);
  background-color: rgba(130,179,211,1);
}

.pagination-link.pagination-current {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 25px 13px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: rgba(0,0,0,1);
  background-color: rgba(242,242,242,1);
}

.pagination-link:default {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1)
}

.pagination-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.pagination-current:default {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-current:focus {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-current:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border: 0;
}

.pagination-current:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: rgba(255,255,255,1);
}

.modal-auth {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-image: url(../images/modal-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 4px solid (242, 242, 242, 1);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 1);
}

.modal-close-button:default {
  border: 4px solid (242, 242, 242, 1);
  border-radius: 50%;
}

.modal-close-button:hover {
  border: 4px solid rgba(230, 230, 230, 1);
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:focus {
  border: 4px solid rgba(131, 179, 211, 1);
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:active {
  opacity: 30%;
}

.modal-title {
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.auth-form label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.modal-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  position: relative;
}

.input-container::after {
  position: absolute;
  top: 14px;
  left: 400px;
  content: "";
  content: url(../images/calendar.svg);
}

.arrival-input,
.departure-inpute {
  width: 150px;
  padding: 12px 270px 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  border: 0;
  color: rgba(0,0,0,1);
  background-color: rgba(242, 242, 242, 1);
}

.arrival-date-text {
  margin: 4px 140px 23px 157px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255,87,87,1);
}

.departure-date-text {
  margin: 4px 89px 23px 157px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(51,51,51,1);
}

.arrival-input:default,
.departure-inpute:default {
  opacity: 60%;
}

.arrival-input:hover,
.departure-inpute:hover {
  color: rgba(0,0,0,0.6);
  background-color: rgba(230, 230, 230, 1);
}

.arrival-input:focus,
.departure-inpute:focus {
  border: 3px solid rgba(131,179,211,1);
  color: rgba(0,0,0,0.6);
  background-color: rgba(230, 230, 230, 1);
}

.arrival-input:focus:not(:placeholder-shown),
.departure-inpute:focus:not(:placeholder-shown) {
  border: 3px solid rgba(0,0,0,1);
  color: rgba(0,0,0,0.6);
  background-color: rgba(242, 242, 242, 1);
}

.modal-field-visitors {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  width: 577px;
}

.adults-input,
.kids-input {
  width: 31px;
  height: 48px;
  padding: 0;
  border: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(0,0,0,1);
  background-color: rgba(242, 242, 242, 1);
}

.adults-number-container {
  display: grid;
  grid-template-columns: 91px 110px;
  grid-template-areas: ;
  gap: 46px;
  align-items: center;
  margin-right: 88px;
}

.kids-number-container {
  display: grid;
  grid-template-columns: 85px 111px;
  gap: 46px;
  align-items: center;
}

.number-container {
  display: grid;
  grid-template-columns: 40px 31px 40px;
  gap: 0;
}

.decrease-number {
  width: 40px;
  height: 48px;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
  background-color: rgba(242, 242, 242, 1);
}

.decrease-button-wrap {
  padding: 14px 10px;
  width: 20px;
  height: 20px;
}

.decrease-button-wrap svg {
  padding: 9px 3px;
  fill:  rgba(117, 97, 87, 0.3);
}

.increase-number {
  width: 40px;
  height: 48px;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  background-color: rgba(242, 242, 242, 1);
}

.increase-button-wrap {
  padding: 14px 10px;
  width: 20px;
  height: 20px;
}

.increase-button-wrap svg {
  padding: 3px 3px;
  fill:  rgba(117, 97, 87, 0.3);
}

.decrease-button-wrap svg:default,
.increase-button-wrap svg:default {
  fill: rgba(117, 97, 87, 0.3);
}

.decrease-button-wrap svg:hover,
.increase-button-wrap svg:hover {
  fill: rgba(0, 0, 0, 1);
}

.decrease-button-wrap svg:focus,
.increase-button-wrap svg:focus {
  fill: rgba(0, 0, 0, 1);
  outline: 3px solid rgba(130, 179, 211, 1);
  border-radius: 4px;
}

.decrease-button-wrap svg:active,
.increase-button-wrap svg:active {
  fill: rgba(0, 0, 0, 1);
}

.search-button {
  width: 577px;
  padding: 18px 77px;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  border: 0;
  color: rgba(255,255,255,1);
  background-color: rgba(131,179,211,1);
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 50%;
  background-color: rgba(131,179,211,1);
}

.tooltip-icon {
  padding: 7px 12px;
  color: rgba(255,255,255,1);
}

.tooltip-toggle:hover .tooltip-icon {
  background-color: rgba(131,179,211,1);
}

.tooltip-text {
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 216px;
  margin-top: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: rgba(255,255,255,1);
  background-color: rgba(51, 51, 51, 1);
}

.tooltip-text:after {
  position:absolute;
  content: "";
  width: 19px;
  height: 9px;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/triangle-tooltip.svg");
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: none;
}

.form-label-icon {
  position: relative;
}
