@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-header-logo {
  display: block;
  margin-right: 0 auto;
  margin-left: 70px;
  width: 138px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 507px;
}

.navigation-user {
  max-width: 338px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.navigation-button {
  width: 160px;
  margin-right: 70px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
}

.main-page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-section-header {
  font-size: 30px;
  line-height: 36px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.welcome-section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.adv-section-header {
  font-size: 30px;
  line-height: 36px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.adv-section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.advantages-list-addition {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 81px 85px;
}

.adv-without-pics {
  display: flex;
  margin: 0;
  padding: 85px 112.5px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-style: bold;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

.advantages-item-blue-bkg {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
}

.advantages-item-lightblue-bkg {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-item-grey-bkg {
  background-color: #83B3D333;
  width: 400px;
}

.advantages-item-house {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-item-food {
  width: 400px;
}

.advantages-item-presents {
  background-color: #83B3D31F;
  width: 400px;
}

.hotels-booking {
  display: grid;
}

.booking-section-header {
  font-size: 30px;
  line-height: 36px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.booking-section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.searching-button {
  margin: 54px 412px 96px 412px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.news-section-header {
  font-size: 30px;
  line-height: 36px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.news-section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.news-subscription-form {
  display: flex;
  justify-content: center;
  margin-bottom: 104px;
}

.email-address-field {
  width: 452px;
}

.subscription-button {
width: 232px;
font-size: 20px;
line-height: 36px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
color: #FFFFFF;
background-color: #82B3D3;
}

.page-footer {
background-color: #FFFFFF;
text-transform: none;
color: #000000 ;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1060px;
  margin-left: 70px;
  margin-right: 70px;
}

.footer-social-list {
  max-width: 192px;
  margin-right: 41.5px;
}

.footer-contacts {
  width: 720px;
}

.footer-contacts-address-phone {
  color: #000000;
  font-size: 40px;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
}

.developer-contacts {
  width: 115px;
  margin-left: 41.5px;
}

.filter-container {
  background-image: url(../images/catalog-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item{
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 191px;
  padding: 8px, 50px, 8px, 50px;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  width: 191px;
  padding: 8px, 50px, 8px, 50px;
}

.sorting-header {
  margin-top: 56.5px;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-left: 192px;
  margin-right: 70px;
  margin-top: 50px;
}

.sorting-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.sorting-items-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
}

.product-card {
  background-color: #ffffff;
  width: 340px;
  margin-top: 40px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-detail-button {
  width: 140px;
  padding: 8px, 50px, 8px, 50px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #FFFFFF;
}

.product-card-button-favourites-button {
  width: 140px;
  padding: 8px, 50px, 8px, 50px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.product-card-button-favourites-button-disabled {
  width: 140px;
  padding: 8px, 50px, 8px, 50px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color:#7DB54F;
  color: #FFFFFF;
}

.rating {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  background-color: inherit;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link-pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
